/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-top: 20px;
  background-color:#005e7e;
  /* background-color: #f0f0f0; */
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1.heading{
  color: #ffffff;
}

p.heading{
  color: #ffffff;
  padding-bottom: 12px;
  padding-top: 12px;
}
p.que{
  text-align: left;
  padding: 0px 10% 30px;
}

p.que2{
  text-align: left;
  padding: 0px 2.5% 30px;
  color: rgba(0, 0, 0, 0.85);
}

strong{
  font-size: 1.2rem;
  padding-right: 20px;
}



.three-d-btn {
  opacity: 1;
  color: white;
  background-color: #008cba;
  border: none;
  padding: 20px;
  margin: 30px 20px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 120px;
  cursor: pointer;
}

.shadow3 {
  background-color: #00779e;
  border-radius: 10px;
}
/* .shadow3:hover {
  box-shadow: 0 12px 16px 0 rgb(174, 0, 255),
    0 17px 50px 0 rgba(1, 48, 255, 0.5);
} */

.shadow3:active {
  background-color: #005e7e;
  /* box-shadow: 0 12px 16px 0 rgba(255, 70, 255, 0.8),
    0 17px 50px 0 rgba(255, 52, 1, 0.5); */
}



.animated1 {
  box-shadow: 0 9px #005e7e;
  /* padding: 20px 60px; */
  border-radius: 15px;
}

.animated1:hover {
  background-color: #00779e;
}

.animated1:active {
  background-color: #00779e;
  box-shadow: 0 5px #003f53;
  transform: translateY(4px);
}



.card {

  margin: 0 auto 30px;   /* makes the card centered, with 30px margin bottom*/
  padding: 20px 20px 50px; /* 20px Top, 20px Left & Right , 50px Bottom */
  background-color: #ffffff;
  
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  
  text-align: center;
  justify-content: center;
  max-width: 750px;
  
}

.card-text{
  /* margin: 0 auto; */
  text-align: center;
}

.disabled{
  opacity: 0.6;
  cursor: not-allowed;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.4s;
}

.options-btn{
  opacity: 1;

  background-color: white;
  color: #008cba;
  border: 2px solid #008cba;

  padding: 20px;
  margin: 6px 2px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;

  width: 80%;
  border-radius: 35px;
}

.options-btn:hover {
  background-color: #008cba;
  color: white;
  transition: 0.35s;
}

.options-btn:active,
.options-btn:focus {
  background-color: #008cba;
  color: white;
}

.score-container{
  margin: 30px auto;

}

.selected-btn{
  background-color: #008cba;
  color: white;
}

.stars{
  size: 5px;
  /* padding: 20px;
  margin: 20px; */
}


.submit-green-btn {
  background-color: limegreen;
  color: white;
  box-shadow: 0 9px  #3f704d ;
  /* padding: 20px 60px; */
  border-radius: 15px;
}

.submit-green-btn:hover {
  background-color: lime ;
  box-shadow: 0 9px limegreen;
}

.submit-green-btn:active {
  background-color: lime;
  box-shadow: 0 5px limegreen;
  transform: translateY(4px);
}



#quiz-room h3 {
  color: #333;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  text-align: left;
}

#submission-room h3{
  color: #333;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* stylize the listing of quiz options (e.g 'A: Option A', instead of, 'A. Option A' */
@counter-style upper-alpha-alt{
  /* system uses upper-alpha as list-style */
  system: extends upper-alpha;
  prefix: "";
  suffix: " : ";
}

ul {
  list-style: upper-alpha-alt;
  padding: 0;
}

li {
  margin-bottom: 0px;
  margin-left: 40px;
  padding-left: 20px;
  
}

p {
  color: #666;
  font-size: 16px;
}
