/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color:darkblue;
}

a:hover{
  color: limegreen;
}

a:active{
  color: red;
}

body {
  /* first 5 properties are to prevent scollbar from appearing */
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%; */
  height: 100%;

  /* or say overflow:hidden */
  /* overflow:hidden; */

  font-family: "Inter", sans-serif;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-top: 20px;
  background-color: #005e7e;
  /* background-color: #f0f0f0; */
  justify-content: center;
  align-items: center;

}

h1.heading {
  color: #ffffff;
}

p.heading {
  color: #ffffff;
  padding-bottom: 12px;
  padding-top: 12px;
}
p.que {
  text-align: left;
  padding: 0px 10% 30px;
}

p.que2 {
  text-align: left;
  padding: 10px 2.5% 30px;
  color: rgba(0, 0, 0, 0.85);
}

strong {
  font-size: 1.2rem;
  padding-right: 20px;
}

.three-d-btn {
  opacity: 1;
  color: white;
  background-color: #008cba;
  border: none;
  padding: 20px;
  margin: 30px 20px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 120px;
  cursor: pointer;
}

.shadow3 {
  background-color: #00779e;
  border-radius: 10px;
}
/* .shadow3:hover {
  box-shadow: 0 12px 16px 0 rgb(174, 0, 255),
    0 17px 50px 0 rgba(1, 48, 255, 0.5);
} */

.shadow3:active {
  background-color: #005e7e;
  /* box-shadow: 0 12px 16px 0 rgba(255, 70, 255, 0.8),
    0 17px 50px 0 rgba(255, 52, 1, 0.5); */
}

.animated1 {
  box-shadow: 0 9px #005e7e;
  /* padding: 20px 60px; */
  border-radius: 15px;
}

.animated1:hover {
  background-color: #00779e;
}

.animated1:active {
  background-color: #00779e;
  box-shadow: 0 5px #003f53;
  transform: translateY(4px);
}

.btn-basic{
  opacity: 1;
  color: white;
  background-color: #008cba;
  border: none;
  padding: 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  width: 40%;
}

.card {
  margin: 0 auto 30px; /* makes the card centered, with 30px margin bottom*/
  padding: 20px 20px 50px; /* 20px Top, 20px Left & Right , 50px Bottom */
  background-color: #ffffff;

  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

  text-align: center;
  justify-content: center;
  max-width: 750px;
  height: 520px; /* Set a fixed height for the card */

  overflow: hidden; /* Hide content that overflows the card */
}

.custom-dialog {
  display: none;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  z-index: 10000;
}
.custom-dialog p{
  padding-top: 20px;
}
.yes-btn{
  background-color: limegreen;
}
.yes-btn:hover{
  background-color: lime;
}
.no-btn{
  background-color:#ec3131e5
}
.no-btn:hover{
  background-color:#ff1616
}
.button-container {
  text-align: center;
  padding-bottom: 20px;
}


.scrollable-content {
  height: 85%;
  overflow-y: auto; /* Enable vertical scrolling */
}

.scrollable-content::-webkit-scrollbar {
  width: 8px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

.scrollable-content::-webkit-scrollbar-track {
  background-color: ghostwhite;
  border-radius: 8px;
}

.card-text {
  /* margin: 0 auto; */
  text-align: center;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#quiz-room .fade-in {
  opacity: 0;
  transition: opacity 0.4s;
}

.options-btn {
  opacity: 1;

  background-color: white;
  color: #008cba;
  border: 2px solid #008cba;

  padding: 20px;
  margin: 6px 2px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;

  width: 80%;
  border-radius: 50px;
}

.options-btn:hover {
  background-color: #008cba;
  color: white;
  transition: 0.35s;
}

.options-btn:active,
.options-btn:focus {
  background-color: #008cba;
  color: white;
}

.score-container {
  margin: 20px auto 10px auto;
}

.selected-btn {
  background-color: #008cba;
  color: white;
}

.stars {
  size: 5px;
  /* padding: 20px;
  margin: 20px; */
}

.submit-green-btn {
  background-color: limegreen;
  color: white;
  box-shadow: 0 9px #3f704d;
  /* padding: 20px 60px; */
  border-radius: 15px;
}

.submit-green-btn:hover {
  background-color: lime;
  box-shadow: 0 9px limegreen;
}

.submit-green-btn:active {
  background-color: lime;
  box-shadow: 0 5px limegreen;
  transform: translateY(4px);
}

#homepage h2 {
  padding-bottom: 10px;
}


#homepage p {
  /* color: #333; */
  color: rgb(0, 0, 95);
  margin: 10px auto;
  font-size: 0.85rem;
}

.homepage-body {
  background-color: indigo;
}


#homepage  .card {
  height: 350px;
  width: 350px;
  display: inline-block;
  margin: 20px 20px;
  background-color: hsl(278, 100%, 75%);
  cursor: pointer;


  border: 10px solid transparent;

  color: rgb(0, 0, 95);
 
  /* Add this line */
  box-sizing: border-box;
  

  transition: color 0.5s 0.0833333333s;
  
  position: relative;
  
  overflow-y: auto;

  overflow: hidden;
}


#homepage .card::before,
#homepage .card::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

#homepage .card::before {
    border-bottom-width: 3px;
    border-left-width:   3px;
}

#homepage .card::after {
    border-top-width:    3px;
    border-right-width:   3px;
}

#homepage .card:hover {
  background-color: hsl(286, 100%, 80%);
  /* transition: border 0.5s ease; */
  border: 0px solid transparent;

}
#homepage .card:hover p{
  color: indigo;
  margin-bottom: -10px;
  font-size: 0.95rem;
}

#homepage .card:hover::before,
#homepage .card:hover::after {
    width:100%; 
    height:100%;
}

#homepage .card:hover h2 {
  color: indigo;
  margin: -7px auto;
  font-size: 1.8rem;
}

#homepage .heading p,
#homepage .heading h1,
#homepage .heading h2{
  color: white
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 9999; /* Make sure it's on top of other elements */

  display: none;
}


#subjectsContainer {
  width: 80%;
  margin: 0 auto;
}

.subjectcardimage {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 5px;
  height: 70%;
  width: 100%;
  border-radius: 10px;
}

#submission-room #displayedQuestionCountMax {
  vertical-align: -4px;
}

#submission-room #displayedScore {
  vertical-align: 8px;
}

/* #previousBtn {
  position: fixed;
  bottom: 10px;

} */

#quiz-room h3 {
  color: #333;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  text-align: left;
}

#quiz-room .hide {
  display: none;
}

#review-room .correct-option {
  background-color: #2bf72b;
  border: 2px solid #2bf72b;
  color: white;
}

#review-room .wrong-option {
  background-color: #ec3131;
  border: 2px solid #ec3131;
  color: white;
}

#submission-room .card {
  width: 300px;
}

#submission-room h3 {
  color: #333;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* stylize the listing of quiz options (e.g 'A: Option A', instead of, 'A. Option A' */
@counter-style upper-alpha-alt {
  /* system uses upper-alpha as list-style */
  system: extends upper-alpha;
  prefix: "";
  suffix: " : ";
}

ul {
  list-style: upper-alpha-alt;
  padding: 0;
}

li {
  margin-bottom: 0px;
  margin-left: 40px;
  padding-left: 20px;
}

p {
  color: #666;
  font-size: 16px;
}
